@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

@keyframes shootingstar {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(100px) translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(100px) translateY(100px);
    opacity: 0;
  }
}

